<h2>Listado de los contratos de la empresa</h2>

<!--Primera seccion-->
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary" style="float:right;">Añadir nuevo contrato</button>
    </div>
    
    <form>
      <div class="col">
        <input type="text" [(ngModel)]="term" name="something" class="form-control" placeholder="Search here" style="width:100%;float:right;">
      </div>
    </form>
</div>



<!--Buscador-->
<mat-paginator [length]="(contratos| filter:term).length"
               [pageSize]="(contratos| filter:term).length"
               [pageSizeOptions]="pageSizeOptions"
               (page)="handlePage($event)" showFirstLastButtons>
</mat-paginator>

<!--tabla-->
<table class="table table-striped"  *ngIf="contratos" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Número del contrato</th>
    <th scope="col">Fecha de suscripción</th>
    <th scope="col">Naturaleza de contrato</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Cliente</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="( contratos | filter:term) as result">
  <tr *ngFor="let contrato of result |paginate:page_size:page_number">

  

         


    <th scope="row">{{ contrato.id_contrato }}</th>
    <td>{{ contrato.numero_contrato }}</td>
    <td>{{ contrato.fecha_suscripcion }}</td>
    <td><div [innerHTML]= "contrato.caracteristica | highlight : term"></div></td>
    <td><div [innerHTML]= "contrato.partei | highlight : term"></div></td>
    <td><div [innerHTML]= "contrato.parteii | highlight : term"></div></td>
    <td><button (click)="editContrato()" mat-icon-button aria-label="Edit"><mat-icon>edit</mat-icon></button></td>
    <td><button mat-icon-button aria-label="Delete"><mat-icon>delete</mat-icon></button></td>
  </tr>
    <tr>
      <th></th>
       <td colspan="6"><h1 class="text-center mx-auto" style="color: red;" *ngIf="result.length === 0" >no se encontraron resultados</h1>
        </td>
      </tr>
</ng-container>
  </tbody>
</table>
